@import url("https://fonts.googleapis.com/css?family=Rammetto+One|Signika");

html,
body {
  background: #a9a;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

h1,
h2 {
  margin: 0px;
  text-align: center;
  font-size: 0em;
  transition: all 0.5s ease-in-out;
  font-family: "Rammetto One", times;
  color: #221;
  user-select: none;
  text-shadow: 3px 3px rgba(96, 96, 96, 0.5);
}

h2 {
  font-family: "Signika", times;
}

h3 {
  text-align: center;
  font-family: "Rammetto One", times;
  opacity: 0.5;
  color: #221;
  user-select: none;
  transition: all 0.5s ease-in-out;
  text-shadow: 3px 3px #666;
}

#title {
  color: #221;
  font-size: 2.2em;
  opacity: 0.5;
  text-position: center;
  text-shadow: 3px 3px #666;
  transition: all 0.5s ease-in-out;
}

#title.activated {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

#burger-menu {
  width: 400px;
  top: 20%;
  height: auto;
  position: absolute;
  background: transparent;
  margin-left: 50%;
  transform: translatex(-200px);
  transition: all 0.5s ease-in-out;
}

#top-bun,
#cheese,
#tomato,
#lettuce,
#meat-patty {
  box-shadow: 3px 3px rgba(48, 48, 48, 0.6);
}

#bottom-bun {
  box-shadow: 3px -3px rgba(48, 48, 48, 0.6);
}

#top-bun:hover {
  cursor: pointer;
}

#top-bun,
#bottom-bun {
  width: 160px;
  border-radius: 250px 250px 15px 15px / 80px 80px 60px 60px;
  background: linear-gradient(to left, #fcc, #975);
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

#cheese {
  width: 140px;
  height: 10px;
  background: linear-gradient(to left, #dd4, #b92);
  border-radius: 10px;
  margin: 3px;
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s ease-in-out;
}

#tomato {
  width: 130px;
  height: 10px;
  border-radius: 2px;
  background: linear-gradient(to left, #f66, #a22, #c33);
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-in-out;
}

#lettuce {
  width: 140px;
  height: 5px;
  background: linear-gradient(45deg, #2b2, #292, #3d3, #3a3, #3f0);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

#meat-patty {
  height: 15px;
  width: 150px;
  background: linear-gradient(to left, #960, #520);
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

#bottom-bun {
  margin-top: 3px;
  transform: scale(1, -1);
  border-radius: 25px / 25px;
  height: 15px;
}

#top-bun.activated,
#cheese.activated,
#tomato.activated,
#lettuce.activated,
#meat-patty.activated,
#bottom-bun.activated {
  margin: 10px auto;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

#burger-menu.activated {
  height: auto;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: #221;
}

#home-menu.activated,
#meetup-menu.activated,
#other-menu.activated,
#in-n-out.activated,
#hamburger-wiki.activated {
  font-size: 1.6em;
  transition: all 0.5s linear;
}

#home-menu:hover,
#meetup-menu:hover,
#other-menu:hover,
#in-n-out:hover,
#hamburger-wiki:hover,
a:hover {
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}

#meetup-sub-menu.activated {
  font-size: 1.5em;
  transition: all 0.2s linear;
}

#expand {
  text-shadow: none;
  opacity: 0.3;
}