@import url("https://fonts.googleapis.com/css?family=Play|Source+Code+Pro:700|Anton|Berkshire+Swash");

body {
  width: 100vw;
  height: 100vh;
  background: #9b701a;
}

#wrapper {

margin: 30px auto 0px auto;
position: relative;
border-bottom: -20px;
  box-shadow: 5px 5px #444;
  border-width: 8px;
  border-radius: 20px;
  border-style: ridge;
  border-color: #ffe9be;
  background: radial-gradient(rgba(70, 47, 0, .3) 5%, rgba(70, 47, 0, .9)),
    url("http://www.slate.fr/sites/default/files/styles/1090x500/public/dune_0.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	user-select: none;

}

#title {

	border-radius: 60px;
	background: linear-gradient(
      to right,
      rgba(240, 224, 144, 0.3) 5%,
	  rgba(240, 224, 144, 0.1) 50%,
      rgba(240, 224, 140, 0.3) 95%
    ),
    url(title2.jpg);
	border-width: 6px;
	border-style: ridge;
	border-color: #ffe9be;
	background-size: cover;
}

#input {
  font-size: 5em;
  color: #ddab46;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  border-style: groove;
  border-width: 6px;
  border-color: #ffe9be;
  text-shadow: 3px 3px #a57006;
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  user-select: none;
  outline: none;
  margin: 30px auto;
  webkit-animation: flicker 15s linear infinite;
  animation: flicker 15s linear infinite;
}

h1 {
  font-size: 4.5em;
  text-align: center;
  color: #ffc689;
  font-family: "Berkshire Swash", times;
  position: relative;
  text-shadow: 2px 2px #462605;
}

#buttonContainer {

  left: 1%;

}

.button {
  
  position: relative;
  height: 100px;
  outline: none;
  user-select: none;
  font-family: "Source Code Pro", monospace;
  font-size: 3em;
  border-radius: 10px;
  border-style: groove;
  border-color: #ffe9be;
  background: #111;
  color: #d80;
  font-weight: bold;
  border-width: 4px;
  margin: 0% 1%;
  width: 14%;
}

.button:active,
#umlautButton.active,
#upper-accent:active {
  text-shadow: -2px -2px rgba(0, 0, 0, 0.2);
  color: #111;
  background: radial-gradient(#d93, #c71);
  box-shadow: 5px 5px rgba(220, 180, 60, 0.3);
}

#reset:active,
#reset.toggled,
#upper-accent.active {
  text-shadow: -2px -2px rgba(0, 0, 0, 0.2);
  color: #111;
  background: radial-gradient(#f53, #e42);
  box-shadow: 3px 3px rgba(256, 80, 48, 0.3);
}

#umlautButton.halfActive,
#upper-accent.halfActive {
  webkit-animation: umlautFlicker 1.5s cubic-bezier(0.6, 0.4, 0.4, 0.6) infinite;
  animation: umlautFlicker 1.5s cubic-bezier(0.6, 0.4, 0.4, 0.6) infinite;
}

.button:hover,
#reset:hover {
  cursor: pointer;
}

@media only screen and (max-width: 992px) {


#wrapper {

  border-width: 0px;
  border-radius: 0px;
  box-shadow: none;

}

}

@media only screen and (max-width: 768px) {

#input {

  border-width: 5px;
  font-size: 2.5em;

}

h1 {

font-size: 3em;

}

.button {

  font-size: 2em;
  border-width: 2px;
  margin: 0px 1%;
  width: 13%;
  height: 80px;

}

}

@media only screen and (max-width: 576px) {

.button {

	font-size: 1.4em;

}

}

@keyframes flicker {
  0% {
    background: radial-gradient(rgba(52, 52, 32, .96), rgba(32, 32, 16, .96)),
	url(Screen_background.jpg);
    text-shadow: 3px 3px #a57006;
  }
  48% {
    background: radial-gradient(rgba(52, 52, 32, .96), rgba(32, 32, 16, .96)),
	url(Screen_background.jpg);
    text-shadow: 3px 3px #a57006;
  }
  49% {
    background: radial-gradient(rgba(40, 40, 25, .9), rgba(27, 27, 11, .96))
	url(Screen_background.jpg);
    text-shadow: 3px 3px #c57048;
  }
  50% {
    background: radial-gradient(rgba(52, 52, 32, .94), rgba(32, 32, 16, .96)),
	url(Screen_background.jpg);
    text-shadow: 3px 3px #a57006;
  }
  97% {
    background: radial-gradient(rgba(52, 52, 32, .96), rgba(32, 32, 16, .96)),
	url(Screen_background.jpg);
    text-shadow: 3px 3px #a57006;
  }
  98% {
    background: radial-gradient(rgba(52, 52, 20, .96), rgba(36, 36, 18, .96)),
	url(Screen_background.jpg);
    text-shadow: 3px 3px #c57048;
  }
  100% {
    background: radial-gradient(rgba(52, 52, 32, .96), rgba(32, 32, 16, .96)),
	url(Screen_background.jpg);
    text-shadow: 3px 3px #a57006;
  }
}

@webkit-keyframes umlautFlicker {
  0% {
    background: radial-gradient(#d93, #c71);
    text-shadow: 3px 3px #950;
    box-shadow: 5px 5px rgba(220, 180, 60, 0.3);
    color: #111;
  }
  46% {
    background: radial-gradient(#d93, #c71);
    text-shadow: 3px 3px #950;
    box-shadow: 5px 5px rgba(220, 180, 60, 0.3);
    color: #111;
  }
  50% {
    background: #111;
    color: #d80;
    text-shadow: none;
    box-shadow: 5px 5px rgba(220, 180, 60, 0);
  }
  97% {
    background: #111;
    color: #d80;
    text-shadow: none;
    box-shadow: 5px 5px rgba(220, 180, 60, 0);
  }
  100% {
    background: radial-gradient(#d93, #c71);
    text-shadow: 3px 3px #950;
    box-shadow: 5px 5px rgba(220, 180, 60, 0.3);
    color: #111;
  }
}

@keyframes umlautFlicker {
  0% {
    background: radial-gradient(#d93, #c71);
    text-shadow: 3px 3px #950;
    box-shadow: 5px 5px rgba(220, 180, 60, 0.3);
    color: #111;
  }
  46% {
    background: radial-gradient(#d93, #c71);
    text-shadow: 3px 3px #950;
    box-shadow: 5px 5px rgba(220, 180, 60, 0.3);
    color: #111;
  }
  50% {
    background: #111;
    color: #d80;
    text-shadow: none;
    box-shadow: 5px 5px rgba(220, 180, 60, 0);
  }
  97% {
    background: #111;
    color: #d80;
    text-shadow: none;
    box-shadow: 5px 5px rgba(220, 180, 60, 0);
  }
  100% {
    background: radial-gradient(#d93, #c71);
    text-shadow: 3px 3px #950;
    box-shadow: 5px 5px rgba(220, 180, 60, 0.3);
    color: #111;
  }
}
